<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
</head>
<body>
    <div class="blur"></div>
    <div class="container">
    <fieldset>
        <legend>&nbsp;Hasil Sentiment Analysis &nbsp;</legend>
        <center>
            <a href="static/image/foto1.png"><button class="button" role="button">Wordlist</button></a><br>
            <a href="static/image/foto2.png"><button class="button" role="button">Most 10</button></a><br>
        </center>
    </fieldset> 
    </div>
</body>
</html>
