<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Welcome To SVLAD SCRAPER</title>
</head>
<body>
  <div class="blur"></div>
  <div class="container">
    <fieldset>
      <legend>&nbsp; {{hometitle}} &nbsp;</legend>
      <center>
        <a href="/igscraper"><button class="button" role="button">Instagram Scraper</button></a><br>
        <a href="/ytscraper"><button class="button" role="button">Youtube Scraper</button></a><br>
        <a href="/analysis"><button class="button" role="button">Sentiment Analysis</button></a>
      </center>
    </fieldset>
  </div>
</body>
</html>